[www]
env[DRUPAL_DEFAULT_DOI_PASSWORD] = "{{ getenv "DRUPAL_DEFAULT_DOI_PASSWORD" }}"
env[DRUPAL_DEFAULT_AAI_CLIENT_SECRET] = "{{ getenv "DRUPAL_DEFAULT_AAI_CLIENT_SECRET" }}"
env[DRUPAL_DEFAULT_HANDLE_PRIVATE_KEY] = "{{ getenv "DRUPAL_DEFAULT_HANDLE_PRIVATE_KEY" }}"
env[DRUPAL_DEFAULT_CANTALOUPE_URL] = "{{ getenv "DRUPAL_DEFAULT_CANTALOUPE_URL" }}"
env[DRUPAL_DEFAULT_GEOCODER_USER_AGENT] = "{{ getenv "DRUPAL_DEFAULT_GEOCODER_USER_AGENT" }}"
env[DRUPAL_DEFAULT_GEOCODER_REFERER] = "{{ getenv "DRUPAL_DEFAULT_GEOCODER_REFERER" }}"
